<%= render 'layouts/sidelist' %>
<h2>Books</h2>
<table>
 <thead>
  <tr>
   <th>Title</th>
   <th>Opinion</th>
  </tr>
 </thead>
</table>
<div class="list-wrap">
    <% @books.each do |book| %>
    <div class="list-comment">
      <tr>
        <td class="list-title"><%= book.title %></td>
        <td class="list-opinion"><%= book.body %></td>
      </tr>
    </div>
  </div>
  </tbody>
</table>
<% end %>
