<h2>Books</h2>

<table>
  <thead>
    <tr>
    <th>Title</th>
    <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
  <div class="list-wrap">
    <% @book.each do |book| %>
    <div class="list-comment">
      <tr>
        <td class="list-title"><%= book.title %></td>
        <td class="list-body"><%= book.opinion %></td>
      </tr>
    </div>
  </div>
  </tbody>
</table>
<% end %>